body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background: #eef2f5;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
header,
section {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.cabecera {
  background: #0077b6;
  color: white;
  padding: 1em;
  text-align: center;
}

.info-tiempo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.info-tiempo img {
  width: 48px;
  height: 48px;
}

.busqueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
  background: #dceefc;
}

.busqueda input {
  padding: 0.5em;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.busqueda button {
  padding: 0.5em 1em;
  border: none;
  background: #023e8a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.busqueda button:hover {
  background: #0353a4;
}

.selector-vista {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
  flex-wrap: wrap;
}

.selector-vista button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  background: #023e8a;
  color: white;
  cursor: pointer;
}

.carrusel {
  overflow: hidden;
  margin: 1em auto;
  width: 100%;
  box-sizing: border-box;
}

.carrusel-interno {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* para iOS */
  gap: 1rem;
  padding: 1rem;
}

.tarjeta-hora {
  background: white;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 105px;
  text-align: center;
  font-size: 0.9em;
}

.tarjeta-dia {
  background: white;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  box-sizing: border-box;
}

.dia-separador {
  font-weight: bold;
  color: #0077b6;
  margin-top: 1em;
  width: 100%;
  text-align: center;
}


@media (max-width: 768px) {
  .tarjeta-dia {
    min-width: 90%;
  }

  .carrusel-interno {
    gap: 0.5em;
  }

  .selector-vista {
    margin-bottom: 0.5em;
  }

  .carrusel {
    margin-bottom: 1em;
  }

  body {
    padding-bottom: 1em;
  }
}

.oculto {
  display: none;
}
